<!DOCTYPE html>
<html lang="kor">
   <head>
	  <!--===============================================================================================-->
	 
	  <!-- signin page css 및 js 경로 변경 해둔 것! --> 
	 
	  <link href="../static/vendor\mdi-font\css\material-design-iconic-font.min.css" rel="stylesheet" media="all">
	  <link href="../static/vendor\font-awesome-4.7\css\font-awesome.min.css" rel="stylesheet" media="all">
	  <!-- Font special for pages-->
	  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
  
	  <link href="../static/vendor\select2\select2.min.css" rel="stylesheet" media="all">
	  <link href="../static/vendor\daterangepicker\daterangepicker.css" rel="stylesheet" media="all">
  
	
	  <link href="../static/css\signin.css" rel="stylesheet" media="all">
	  
		  
	  <script src="../static/vendor\jquery\jquery.min.js"></script>
	  
   
	  <script src="../static/vendor\select2\select2.min.css"></script>
	  <script src="../static/vendor\daterangepicker\moment.min.js"></script>
	  <script src="../static/vendor\daterangepicker\daterangepicker.js"></script>
  
	 
	  <script src="../static/js\signin.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Show Me What You Have</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout inner_header about_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html">SMWYH </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" onclick="window.location.href='/'">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" onclick="window.location.href='/about'">About</a> <!-- about에 contact html 활용하기-->
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" onclick="window.location.href='/bucket'">Bucket List</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" onclick="window.location.href='/blog'">Day Routine</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" onclick="window.location.href='/login'">로그인</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" onclick="window.location.href='/signin'">회원가입</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
     <div class="yellow_darkbg">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                  <h2>Sign In</h2>
                 </div>
              </div>
           </div>
        </div>
     </div>

	
		 <div class="page-wrapper bg-gra-02 p-t-130 font-poppins">
			<div class="wrapper wrapper--w680">
				<div class="card card-4">
					<div class="card-body">
						<h2 class="title">회원가입</h2>
						<h4 class="undertitle">Show Me What You Have에 오신 여러분들을 환영합니다!!</h4>
						
						
						
						
						<form method="POST">
						<br>
						<br>
							<div class="row row-space">
								<div class="col-2">
									<div class="input-group">
									<div class="id">
										<label class="label">아이디</label>
										<input class="input--style-4" type="text" id="id" name="id"size="40"><br>
										<input class="input--style-5" type="button" value="중복확인">
									</div>
									</div>
								</div>
							 </div>
							 <div class="row row-space">
								<div class="col-2">
									<div class="input-group">
										<label class="label">비밀번호</label>
										<input class="input--style-4" type="password" name="passwd" id="passwd" size="40" required>
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<label class="label">비밀번호확인</label>
										<input class="input--style-4" type="password" name="repasswd" id="repasswd" size="40" required>
									</div>
								</div>
							</div>
							
							<div class="row row-space">
								<div class="col-2">
									<div class="input-group">
										<label class="label">이름</label>
										<input class="input--style-4" type="text" name="uname" size="40" id="uname"  required>
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<label class="label">핸드폰번호</label>
										<input class="input--style-4" type="text" name="tel"size="40" id="tel" required>
										
										
									</div>
								</div>
								
							</div>
							<div class="row row-space">
							<div class="col-2">
									<div class="input-group">
										<label class="label">주소찾기</label>
										<input class="input--style-4" type="text" id="sample4_postcode" placeholder="우편번호" name="zipcode" id="zipcode" required>
										<input class="input--style-5" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
										<input class="input--style-4" type="text" id="sample4_roadAddress" placeholder="도로명주소" size="40" name="address1" id="address1" required><br>
										<input type="hidden" id="sample4_jibunAddress" placeholder="지번주소"  size="40">
										<span id="guide" style="color:#999;display:none"></span>
										<input class="input--style-4" type="text" id="sample4_detailAddress" placeholder="상세주소"  size="40" name="address2" id="address2" required><br>
										<input type="hidden" id="sample4_extraAddress" placeholder="참고항목"  size="40">
										<input type="hidden" id="sample4_engAddress" placeholder="영문주소"  size="40" ><br>
										<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<!--
	<script>
		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수
	
					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if(data.buildingName !== '' && data.apartment === 'Y'){
					   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if(extraRoadAddr !== ''){
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}
	
					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('sample4_postcode').value = data.zonecode;
					document.getElementById("sample4_roadAddress").value = roadAddr;
					document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
			 
					document.getElementById("sample4_engAddress").value = data.addressEnglish;
						   
					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if(roadAddr !== ''){
						document.getElementById("sample4_extraAddress").value = extraRoadAddr;
					} else {
						document.getElementById("sample4_extraAddress").value = '';
					}
	
					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if(data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';
	
					} else if(data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}
	</script>
    -->
	<!--카카오 API를 이용-->
	
										
									</div> 
							</div>
	
								<div class="col-2">
									<div class="input-group">
									<div class="id">
										<label class="label">Email</label>
										<input class="input--style-4" type="email" name="email" size="40" id="email"><br>
										<input class="input--style-5" type="button" onclick="emailCheck()" value="중복확인">
									</div>
									</div>
								</div>
							</div>
							
								
							<div class="row row-space">
								<div class="col-2">
									<div class="input-group">
										<label class="label">성별을 알려주세요</label>
										<div class="p-t-10">
											<label class="radio-container m-r-45">남성
												<input type="radio" name="gender" id="gender" value="M">
												<span class="checkmark"></span>
											</label>
											<label class="radio-container" >여성
												<input type="radio" name="gender" id="gender" value="F">
												<span class="checkmark"></span>
											</label>
										</div>
									</div>
								</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">개인정보활용에 동의하시나요?</label>
									<div class="p-t-10">
										<label class="radio-container m-r-45">예
											<input type="radio" name="personalinfo" >
											<span class="checkmark"></span>
										</label>
										<label class="radio-container">아니오
											<input type="radio" name="personalinfo" >
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
						  </div>
						  
							<div class="row row-space">
							<div class="col-2">
								<div class="input-group">
									<label class="label">마켓팅 활용에 동의하시나요?(선택)</label>
									<div class="p-t-10">
										<label class="radio-container m-r-45">예
											<input type="radio" name="marketing">
											<span class="checkmark"></span>
										</label>
										<label class="radio-container">아니오
											<input type="radio" name="marketing">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<label class="label">관심 분야를 선택해주세요!</label>
									<div class="p-t-10">
										<label class="radio-container m-r-45">버킷리스트
											<input type="radio" name="ulevel" id="ulevel" value="S">
											<span class="checkmark"></span>
										</label>
										<label class="radio-container">하루루틴
											<input type="radio" name="ulevel" id="ulevel" value="T">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							</div>
							<br>
							<br>
							<div class="p-t-15">
								<button class="btn btn--radius-2 btn--blue" type="submit">제출하기</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<div class="p-b-100 font-poppins">
	</div>
	
	<!--
	<script>
	function check(){
		id = $("#user_id").val();
		
		$.ajax({
			url: 'ID_Check',
			type: 'POST',
			dataType: 'text', //서버로부터 내가 받는 데이터의 타입
			contentType : 'text/plain; charset=utf-8;',//내가 서버로 보내는 데이터의 타입
			data: id ,
	
			success: function(data){
				 if(data == 0){
				 console.log("아이디 없음");
				 alert("사용하실 수 있는 아이디입니다.");
				 }else{
					 console.log("아이디 있음");
					 alert("중복된 아이디가 존재합니다.");
				 }
			},
			error: function (){        
							  
			}
		  });
	
	
	}
	</script>
	-->
      <!--  footer -->
      <footer>
        <div class="footer">
           <div class="container">
             <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="center-desk">
                    <div class="logo">
                       <a href="index.html">SMWYH </a>
                    </div>
                  </div>
                 <ul class="about_us">
                    <br>
                    <li>내가 가진 생각, 꿈을 공유하는 곳 <br> 사람들과 함께 꿈꾸고, <br> 성취해보아요💪</li>
                 </ul>
                 <br>
                 <ul class="social_icon">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                 </ul>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <h3>Bucket List</h3>
                 <ul class="link_menu">
                    <li><a href="#">버킷리스트란?</a></li>
                    <li><a href="#">버킷리스트 적기</a></li>
  
                 </ul>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <h3>SMWYH</h3>
                 <ul class="link_menu">
                    <li><a href="#">SMWYH는?</a></li>
                 </ul>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <h3>Contact Us</h3>
                 <ul class="link_menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                 </ul>
               </div>
               <div class="col-md-8 offset-md-4 ">
                 <form class="bottom_form">
                    <h3>Newsletter</h3>
                    <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                    <button class="sub_btn">subscribe</button>
                 </form>
               </div>
             </div>
           </div>
           <div class="copyright">
             <div class="container">
               <div class="row">
                 <div class="col-md-10 offset-md-1">
                    <p>© 2022 All Rights Reserved. 항해99 9기 사전스터디 8조 </a></p>
                 </div>
               </div>
             </div>
           </div>
        </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/popper.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../static/js/custom.js"></script>
  </body>
	
	

</html>